* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    direction: rtl;
}

@font-face {
    font-family: 'BYekan';
    src: url(fonts/BYekan/BYekan+.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'BYekan';
    src: url(fonts/BYekan/BYekan+\ Bold.ttf);
    font-weight: 900;
}
a {
    text-decoration: none;
}

.up-header {
    background: url(images/ramadan.gif) center no-repeat local;
    background-size: cover;
    height: 8vh;
    cursor: pointer;
}

div.header-up {
    display: flex;
    height: 10vh;
    align-items: center;
}

div.header-up>a:nth-of-type(1) {
    padding: 15px 20px 0px 0px;
}

div.header-search {
    padding: 15px 40px 0px 0px;
}

.fa-magnifying-glass:before,
.fa-search:before {
    display: block;
    font-size: 19px;
    text-align: center;
    color: #969b9abc;
    cursor: pointer;
}

input[type=search] {
    width: 36vw;
    padding-right: 20px;
    border: none;
    height: 35px;
}

input[type=search]::placeholder {
    font-size: 17px;
    color: #8f9291e8;
}

input[type=search]:focus {
    outline: none;
    border-bottom: 1px solid #8CDFE9;
}

.header-up>button {
    border: 1px solid rgba(173, 173, 173, 0.308);
    border-radius: 8px;
    width: 9vw;
    height: 6vh;
    position: relative;
    right: 35vw;
}

.header-up>button>a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.header-up>button>a>i {
    padding-right: 5px;
    color: #313030e8;
}

.header-up>span {
    position: relative;
    right: 36vw;
    bottom: 5px;
    font-size: 30px;
    color: rgba(173, 173, 173, 0.495);
}

.header-up>a:nth-of-type(2) {
    position: relative;
    right: 37vw;
    text-decoration: none;
    color: rgb(65, 64, 64);
}

div.header-down {
    display: flex;
}

div.header-down>ul {
    display: flex;
    list-style-type: none;
    padding-top: 20px;
}

div.header-down>ul>li {
    padding: 0px 10px;
    color: #3e3e3ee8;
    cursor: pointer;
}

div.header-down>ul>li>i {
    padding-left: 5px;
}

div.header-down>ul>li>a {
    text-decoration: none;
    color: #3e3e3ee8;
}

div.header-down>ul>li>a>i {
    padding-left: 5px;
}

div.place {
    position: relative;
    right: 25vw;
    display: flex;
    padding-top: 20px;
    color: #3e3e3ee8;
    cursor: pointer;
}

div.place>i {
    padding-left: 10px;
}

div.slider {
    height: 55vh;
    animation: slider 20s infinite;
    margin-top: 5vh;
}

@keyframes slider {
    0% {
        background: url(images/slider1.jpg) center no-repeat local;
        background-size: cover;
    }

    12% {
        background: url(images/slider2.jpg) center no-repeat local;
        background-size: cover;
    }

    25% {
        background: url(images/slider3.jpg) center no-repeat local;
        background-size: cover;
    }

    37% {
        background: url(images/slider4.jpg) center no-repeat local;
        background-size: cover;
    }

    50% {
        background: url(images/slider5.gif) center no-repeat local;
        background-size: cover;
    }

    62% {
        background: url(images/slider6.jpg) center no-repeat local;
        background-size: cover;
    }

    75% {
        background: url(images/slider7.jpg) center no-repeat local;
        background-size: cover;
    }

    87% {
        background: url(images/slider8.jpg) center no-repeat local;
        background-size: cover;
    }

    100% {
        background: url(images/slider9.jpg) center no-repeat local;
        background-size: cover;
    }
}

/* section options */
/* section options */
/* section options */

section.options {
    display: flex;
    justify-content: space-evenly;
}

section.options>div {
    text-align: center;
    font-size: 15px;
    padding-top: 3vh;
    cursor: pointer;
}

section.options>div>a>img {
    width: 52px;
    height: 52px;
}

section.options>div:last-child>a {
    text-decoration: none;
}

section.options>div:last-child>a:active {
    color: black;
}

section.options>div:last-child>a>div {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

section.options>div:last-child>a>div:hover {
    background-color: #dcddde;
}

section.options>div:last-child>a>div>i {
    font-size: 23px;
    color: gray;
}

/* section offer */
/* section offer */
/* section offer */

section.offer {
    display: flex;
    align-items: center;
    background-color: #EF394E;
    width: 88vw;
    height: 300px;
    border-radius: 15px;
    margin: 30px auto;
}
section.offer>div {
    height: 260px;
}
section.offer>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

section.offer>div:nth-of-type(1)>img:nth-of-type(1) {
    width: 92px;
    height: 77px;
}

section.offer>div:nth-of-type(1)>img:nth-of-type(2) {
    width: 115px;
    height: 115px;
}
section.offer>div:nth-of-type(1)>a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
section.offer>div:nth-of-type(1)>a>p {
    font-size: 18px;
}
section.offer>div:nth-of-type(1)>a>i {
    font-size: 12px;
    padding-right: 5px;
}
section.offer>div:not(div:nth-of-type(1)) {
    background-color: white;
    padding: 16px 12px;
    margin: 0px 2px;
}

section.offer>div:nth-of-type(2)>img,
section.offer>div:nth-of-type(3)>img,
section.offer>div:nth-of-type(4)>img,
section.offer>div:nth-of-type(5)>img,
section.offer>div:nth-of-type(6)>img,
section.offer>div:nth-of-type(7)>img {
    width: 150px;
    height: 150px;
}
section.offer>div:last-child {
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
section.offer>div:last-child>a>i {
    color: gray;
}
section.offer>div:last-child>a>i:hover {
    color: black;
}
section.offer>div:not(div:nth-of-type(1))>p {
    color: gray;
    text-decoration: line-through;
    font-size: 14px;
    padding: 15px 70px 0px 0px;
}
div.price {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
div.price>span {
    background-color: #EF394E;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 2px 8px;
    margin-left: 20px;
}
div.price>img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

/* section fresh */
/* section fresh */
/* section fresh */

section.fresh {
    background: linear-gradient(270deg, rgba(201,255,175,1) 0%, rgba(255,255,255,1) 40%);
    width: 88vw;
    margin: 30px auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 100px;
}
section.fresh>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
section.fresh>a>img:nth-of-type(1) {
    padding-right: 20px;
}
section.fresh>a>img:nth-of-type(2) {
    padding-right: 5px;
}
section.fresh>a>span {
    background-color: #39AE00;
    color: white;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 10vw;
}
section.fresh>a>div.fresh-item {
    display: flex;
    flex-direction: column;
}
section.fresh>a>div>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
section.fresh>a>div>span {
    background-color: #EF394E;
    color: white;
    font-weight: bold;
    padding: 2px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    width: 35px;
    position: relative;
    bottom: 10px;
    left: 5px;
}
section.fresh>a>div:nth-of-type(7) {
    background-color: white;
    border-radius: 20px;
    display: flex;
    color: #39AE00;
}
section.fresh>a>div:nth-of-type(7)>p {
    padding-left: 10px;
}

/* section styles */
/* section styles */
/* section styles */

section.styles {
    width: 90vw;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section.styles>div {
    width: 20vw;
    height: 35vh;
    border-radius: 16px;
}
section.styles>div:nth-of-type(1) {
    background: url(images/style4.jpg) center no-repeat local;
    background-size: cover;
}
section.styles>div:nth-of-type(2) {
    background: url(images/style3.webp) center no-repeat local;
    background-size: cover;
}
section.styles>div:nth-of-type(3) {
    background: url(images/style2.webp) center no-repeat local;
    background-size: cover;
}
section.styles>div:nth-of-type(4) {
    background: url(images/style1.webp) center no-repeat local;
    background-size: cover;
}
h3 {
    margin: 50px auto 10px auto;
    text-align: center;
    font-size: 21px;
}

/* section sort */
/* section sort */
/* section sort */

section.sort {
    margin: 0px auto;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}
section.sort>div {
    display: flex;
    flex-direction: column;
}
section.sort>div>a {
    color: black;
}
section.sort>div>a>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.sort>div>a>span>img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}
section.sort>div>a>span>p {
    padding-top: 15px;
}

/* section banner */
/* section banner */
/* section banner */

section.banner {
    width: 90vw;
    margin: 100px auto 0px auto;
    display: flex;
    justify-content: space-evenly;
}
section.banner>a>div {
    border-radius: 16px;
    width: 43vw;
    height: 38vh;
}
section.banner>a:nth-of-type(1)>div {
    background: url(images/categoryrice.webp) center no-repeat local;
    background-size: cover;
}
section.banner>a:nth-of-type(2)>div {
    background: url(images/categorycoffee.webp) center no-repeat local;
    background-size: cover;
}
h2 {
    margin: 35px auto 35px auto;
    text-align: center;
    font-size: 21px;
}
/* section suggest */
/* section suggest */
/* section suggest */

section.suggest {
    margin: 0px auto;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgba(173, 173, 173, 0.308);
    border-radius: 16px;
}
section.suggest>div {
    display: flex;
    flex-direction: column;
}
section.suggest>div:nth-child(odd) {
    padding-bottom: 30px;
}
section.suggest>div>a {
    color: black;
}
section.suggest>div>a>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.suggest>div>a>span>img {
    width: 60px;
    height: 60px;
    margin-top: 30px;
}
section.suggest>div>a>span>p {
    padding-top: 15px;
}

/* section brands */
/* section brands */
/* section brands */

section.brands {
    border: 2px solid rgba(173, 173, 173, 0.308);
    border-radius: 16px;
    margin: 20px auto;
    width: 90vw;
}
section.brands>h3 {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
section.brands>h3>img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
section.brands>div {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
section.brands>div>a>img {
    width: 110px;
    height: 110px;
    background-attachment: local;
}