body {
    background: linear-gradient(0deg, rgba(2,74,138,1) 0%, rgba(1,5,37,1) 100%) center no-repeat fixed;
    box-sizing: border-box;
}
div {
    background: linear-gradient(270deg, rgba(92,92,92,1) 15%, rgba(56,56,56,1) 85%);
    border: 2px solid white;
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 20px auto;
}
span.material-symbols-outlined {
    display: block;
    font-size: 200px;
}
div>h2 {
    color: gray;
    font-family: monospace;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div>p {
    position: relative;
    top: 17px;
    visibility: hidden;
    text-align: justify;
    font-size: 5px;
    padding: 10px 30px;
    margin: 0px -1px 0px -2px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 2px solid white;
}
div:hover {
    transform: translate(0px,25px);
    
    transition: all 400ms linear;
}
div:not(:hover) {
    transition: all 400ms linear;
}
div:not(:hover) p {
    transition: all 400ms linear;
}
div:hover p {
    visibility: visible;
    font-size: 17px;
    color: black;
    transition: all 500ms linear;
    background-color: white;
}
