body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
}
  
.card {
    position: relative;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin-top: 100px;
}
  
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}
  
.layer-back {
    background-color: greenyellow;
    z-index: -1;
    transform: rotateY(180deg);
}
  
.layer-middle {
    background-color: #e74c3c;
    z-index: 0;
    transform-origin: 0 0 0;
}
  
.layer-front {
    background-color: #3498db;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transform-origin: left center;
    transform-origin: 0 0 0;
}
  
.layer-front h2 {
    margin-bottom: 10px;
}
.layer-front p {
    text-align: justify;
    padding: 30px 20px;
}
.card:hover .layer-front {
    transform: rotateY(-70deg);
    cursor: grab;
}
.card:hover .layer-middle {
    transform: rotateY(-35deg);
}
div.caption {
    position: absolute;
    top: 80vh;
    width: 500px;
    text-align: justify;
}
