body {
    background: linear-gradient(0deg, rgba(250,54,77,1) 0%, rgba(27,182,180,1) 100%);
    margin: 0px;
}
div.float {
    float: left;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 100px;
    text-align: center;
}
div.float:nth-of-type(1) {
    width: 33%;
}
div.float:nth-of-type(2) {
    width: 34%;
}
div.float:nth-of-type(3) {
    width: 33%;
}
div.float>p {
    line-height: 100px;
    margin: 0px;
}
div.float:nth-of-type(1) {
    background-color: #02d7d7;
    color: white;
}
div.float:nth-of-type(2) {
    background-color: black;
    color: white;
}
div.float:nth-of-type(3) {
    background-color: #AF398C;
    color: white;
}
div.img-first {
    float: left;
    background: url(images/lion.jpg) center no-repeat local;
    background-size: cover;
    width: 49%;
    height: 450px;
    margin:0px 10px 15px 10px;
}
div.img-second {
    float: left;
    background: url(images/cat.jpg) center no-repeat local;
    background-size: cover;
    width: 49%;
    height: 450px;
}