* {
    margin: 0px;
}
body {
    background: linear-gradient(30deg, rgba(87,203,207,1) 0%, rgba(76,38,96,1) 100%) no-repeat fixed;
    background-size: cover;
}
table {
    margin: 0px auto;
}
p {
    font-family: monospace;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    visibility: hidden;
}
th, td {
    text-align: center;
    color: white;
    width: 95px;
    height: 30px;
}
td {
    background-color: #648199;
}
th {
    background-color: #3B7599;
}
td:hover {
    background: linear-gradient(177deg, rgba(87,203,207,1) 0%, rgba(76,38,96,1) 100%);
}
tbody {
   visibility: hidden;
}
thead:hover + tbody{
visibility: visible;
}
/* Does Not Work!!! */
div:hover p {
   visibility: visible;
}
/* Does Not Work!!! */
div:hover table {
    border: 1px solid rgba(63, 63, 63, 0.3);
}